*{
    margin: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 600px;
    background-color: cornflowerblue
}
.nav{
    background-color: rgb(34, 34, 151);
}
.firstdiv{
    width:50%;
    height: 80px;
}
h1{
    padding-top: 20px;
    font-size: 40px;
    padding-left: 15%;
    float:left; 
    color:white;
} 
.button1{
    
    color:white;
    background-color:#42B72A;
    font-size: 15px;
    float:left; 
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box{
    position: absolute;
    
    margin-top: 8%;
    background-color:whitesmoke;
    margin-left: 25%; 
    width: 50%;
    height: 340px;
    display:inline-block;
}
h3{
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
    color: #1c1E21;
}
.tex-mail{
    margin-top: 20px;
    margin-left: 25%;
    height: 35px;
    width: 50%;
}
.tex-pass{
    margin-top: 20px;
    margin-left: 25%;
    height: 35px;
    width: 50%;
}
.tex-btn{
    margin-top: 20px;
    margin-left: 25%;
    height: 35px;
    width: 50%;
    background-color:blue; 
    color: white;
    font-size: 15px;  
}
.box-links a{
    padding-left:25%;
    text-decoration:none;

}

.footer1{
    margin-top: 10%;
    text-align: center;
    padding-left: 20px;
}
.footer2{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
} 
a{
    padding-left:10px;
}
hr{
    width: 60%;
    margin-left: 20%;
}

